// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
$navbar-height: 40px !default;
$navbar-height-mobile: 40px !default;

@import "materialize";
html, .ember-application, body > .ember-view {
  height: calc(100% - 12px);
}
.content, .sidebar-list {
  height: 100%;
}

body > .ember-view > .row {
  padding-top: $navbar-height;
}
* {
  -webkit-font-smoothing: antialiased;
}

.button-collapse {
  position: fixed;
  z-index:9999;
  top: 8px;
  right: 10px;
  color:white;
  & i {
    cursor: pointer;
  }
}
.nav-bar {
  position: fixed;
  -webkit-app-region: drag;
  z-index:1000;
  .brand-logo {
    @media only screen and (min-width: 1200px) {

    }
    @media only screen and (min-width: 992px) {
      left: 50%;
      transform: translateX(-50%);
    }
    font-size: 20px;
  }
}
.middle {
  vertical-align: middle;
}
.card {
  .collection {
    overflow: scroll;
  }
  position: relative;
  .fixed-action-btn {
    position: absolute;
  }
}
.sidebar {
  z-index:100;

  input {
    border-bottom: initial !important;
  }
  input[type=text]:focus:not([readonly]) {
    border-bottom: initial;
    box-shadow: initial;
  }
  .collection-item {
    position: relative;
    i {
      top: 50%;
      transform: translateY(-50%);
    }
    .handle {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top:50%;
      color: #b0bec5;
      transform: translateY(-50%);
    }
    .options {
      position: absolute;
      top: 10px;
      right: 5px;
      a {
        position: relative;
        i {
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
          opacity: 0.2;
          transition: opacity 0.2s ease;
          &:hover {
            opacity: 1;
            color: black;
          }
        }
      }

    }
  }
}

.modal {
  height: 80%;
  width: 80%;
  & .modal-footer {
    position: absolute;
    bottom: 0;
  }
}
.half {
  width: 30% !important;
}

.md-select {
  .red-text {
    display: none;
  }
}
.row {
  margin-bottom: initial;
  .input-field {
    margin-top: initial;
  }
}
.scenario {
  position: relative;
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .input-field label {
    top: 1.2rem;
  }
  height: 150px;
  border-bottom: black solid 1px;
}

.scrollable {
  overflow: scroll;
}
.is-dragging {
  z-index: 9999;
}
.tribute-input {
  padding-top: 10px !important;
  height:100%;
  overflow:scroll;
  &:focus {
    outline: none;
  }
}
.dashed {
  position: relative;
  border-style: dashed;
  border-width: thin;
  border-color: #e0e0e0;
  border-top: none;
  opacity: 0.6;
  border-bottom: dashed thin #e0e0e0 !important;
  cursor: pointer;

  .material-icons {
    position: absolute;
    opacity: 0.3;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) !important;
    transition: opacity 0.2s ease;
  }
  &:hover {
    opacity: 1;
    .material-icons {
      opacity: 0.7;
    }
  }
}
.last {
  padding-top:20px;
}
