// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
$navbar-height: 40px !default;
$navbar-height-mobile: 40px !default;

@import "materialize";

* {
  -webkit-font-smoothing: antialiased;
}
.button-collapse {
  position: absolute;
  top: 8px;
  right: 10px;
  color:white;
}
.nav-bar {
  -webkit-app-region: drag;
  z-index:1000;
  .brand-logo {
    @media only screen and (min-width: 1200px) {
      left: 50%;
      transform: translateX(-50%);
    }
    font-size: 20px;
  }
}
.middle {
  vertical-align: middle;
}
