<div class="fixed-action-btn vertical" style="bottom: 10px; right: 10px;">
  <a
    {{action 'handleAction' 'openModal' 'addScenario'}}
    class="btn-floating btn-large teal lighten-2"
  >
    <i class="large material-icons">add</i>
  </a>

</div>


{{yield}}
