<div class="modal-content">
  <div class='row'>
  <h4>Create a Scenario</h4>
  <div class="input-field col s6">
   <select multiple {{action 'handleChange' on='change'}}>
     <option value="" disabled selected>Choose Elements</option>
     {{#each content as |el|}}
      <option value="{{el.label}}">{{el.label}}</option>
     {{/each}}
   </select>
 </div>
 </div>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
</div>
