{{tribute-input
  class='collection-item absolute'
  elements=elements
  test=test
  tributeReplaced=tributeReplaced
  placeholder='Describe'
}}
<i {{action 'delete' this}} class='delete material-icons'>delete</i>
<i class='view_list material-icons'>view_list</i>

<div class="collapsible-header">
</div>
<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
