{{tribute-input
  class='collection-item absolute'
  elements=elements
  test=test
  tributeReplaced=tributeReplaced
  placeholder='Describe'
}}
<i {{action 'delete' this}} class='delete material-icons'>delete</i>
<i class='view_list material-icons'>view_list</i>

<div class="collapsible-header">
</div>
<div class="collapsible-body">
  <div class='collection'>
    {{#each test.properties as |prop|}}
      <div class='collection-item'>
        {{spawning-input
          value=prop
          onEnter=(action 'add' test.properties)
          onChange=(action 'change' prop)
          placeholder='Placeholder Text'
        }}
      </div>
    {{/each}}
  </div>
</div>
